* {
  box-sizing: border-box;
  font-family: monospace;
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.headGame {
  padding: 1.5vh;
}

.welcome {
  font-size: 1.5em;
  margin: 2vh;
}

.play,
.howPlay {
  display: inline-block;
  width: 40%;
  line-height: 200%;
  font-size: 1.2rem;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.modalBox {
  position: absolute;
  width: 95%;
  height: 95%;
  background-color: rgb(218, 126, 156);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
}

.closeModal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 10px 15px;
  border-radius: 50%;
  border: 1px solid #000;
  line-height: 100%;
  font-size: 2em;
  text-transform: uppercase;
}

.closeModal:hover {
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
}

.textModal {
  margin-top: 5vh;
  font-size: 1.2rem;
  line-height: 150%;
}

.textModal span {
  font-weight: bold;
  font-size: 120%;
}

.titleModal {
  font-size: 2em;
}

.headGame.blur,
.bodyGame.blur {
  filter: blur(1px);
}

.hint {
  position: fixed;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  background-color: rgb(216, 199, 182);
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  margin: 1%;
}

.bodyGame {
  width: 100%;
}

.message,
.messageRandom {
  background-color: rgb(167, 202, 191);
  margin: 2% 0;
  padding: 1%;
  font-size: 1.5rem;
  width: 100vw;
}

.userNumber,
.add {
  /* display: none; */
  width: 30%;
  line-height: 200%;
  font-size: 1.3em;
  margin: 1.5vh 0;
}

.userAdd,
.squares {
  font-size: 1.5rem;
}

.stepOne {
  display: none;
  width: 100%;
}

.stepTwo {
  display: none;
}

.menuSquares {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1%;
}

.number {
  margin: 1px;
  border: 1px solid rgb(214, 212, 212);
  height: 60px;
  width: 60px;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
}

.active {
  display: inline-block;
}

.noActive {
  display: none;
}

.visible {
  opacity: 1;
}

.random {
  line-height: 200%;
  font-size: 1.3em;
  margin: 1.5vh 0;
  width: 75%;
}

.red {
  background-color: #ff4646;
}

.green {
  background-color: rgb(102, 201, 93);
}