* {
  box-sizing: border-box;
  font-family: monospace;
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

*>button {
  border: none;
}

.headGame {
  padding: 1.5vh;
}

.welcome {
  font-size: 1.5em;
  margin: 2vh;
}

.play,
.howPlay {
  display: inline-block;
  width: 40%;
  line-height: 200%;
  font-size: 1.2rem;
}

.modal {
  z-index: 2;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.modalBox {
  position: absolute;
  width: 95%;
  background-color: rgb(218, 126, 156);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 2vh;
}

.closeModal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 10px 15px;
  border-radius: 50%;
  border: 1px solid #000;
  line-height: 100%;
  font-size: 1.5em;
  text-transform: uppercase;
}

.closeModal:hover {
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
}

.textModal {
  margin-bottom: 3vh;
  line-height: 150%;
}

.textModal span {
  font-weight: bold;
  font-size: 100%;
}

.titleModal {
  font-size: 2em;
  margin: 2vh 0;
}

.headGame.blur,
.bodyGame.blur {
  filter: blur(1px);
}

.hint {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  background-color: rgb(216, 199, 182);
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  margin: 1%;
}

.wantMore>p {
  font-weight: bold;
  margin: 2vh 0;
  font-size: 1.5rem;
}

.read,
.watch {
  display: flex;
  justify-content: center;
  opacity: 0;
  margin: 1vh 0;
  font-size: 2rem;
  line-height: 100%;
}

.read {
  transition: .3s;
}

.watch {
  transition: .3s .3s;
}

.wantMore a {
  text-decoration: none;
  color: black;
  margin: 0 2vh;
}

.wantMore i {
  font-size: 1.5rem;
  color: black;
  margin: 0 2vh;
}

/* .countClick {
  position: fixed;
  display: none;
  height: 40px;
  width: 40px;
  top: 80px;
  right: 0;
  background-color: rgb(216, 199, 182);
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  margin: 1%;
} */

.bodyGame {
  width: 100%;
}

.message,
.messageRandom {
  background-color: rgb(167, 202, 191);
  margin: 2vh 0;
  padding: 2vh 5vh;
  font-size: 1.5rem;
  width: 100vw;
}

.fa-trophy {
  position: fixed;
  z-index: 1;
  top: 16%;
  left: 5%;
  transform: rotate(-20deg);
  transition: 1s;
  transition-delay: .5s;
  font-size: 2.5rem;
  margin: 0 2vh;
  opacity: 0;
  color: rgb(255, 255, 0);
}

.userNumber,
.add {
  width: 30%;
  line-height: 200%;
  font-size: 1.3em;
  margin: 1.5vh 0;
}

.userAdd,
.squares {
  font-size: 1.5rem;
}

.stepOne {
  display: none;
  width: 100%;
}

.stepTwo {
  display: none;
}

.menuSquares {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1%;
}

.number {
  margin: 1px;
  border: 1px solid rgb(214, 212, 212);
  height: 60px;
  width: 60px;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
}

.playAgain {
  display: none;
}

.active {
  display: inline-block;
}

.anim {
  transform: rotate(360deg);
  transition: 1s;
}

.animBig {
  transform: scale(1.5) rotate(-1830deg);
}

.noActive {
  display: none;
}

.visible {
  opacity: 1;
}

.win {
  position: fixed;
  left: 0;
}

.playAgain {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.random,
.playAgain {
  line-height: 200%;
  font-size: 1.3em;
  margin: 1.5vh 0;
  width: 75%;
}

.red {
  background-color: #ff4646;
}

.green {
  background-color: rgb(102, 201, 93);
}

/* ========================  Media queries  ==================== */

@media (min-width: 600px) {

  .headGame {
    max-width: 80%;
    margin: 0 auto;
  }

  .userNumber,
  .add {
    max-width: 20%;
  }

  .random,
  .playAgain {
    max-width: 50%;
  }

  .hint {
    left: 10%;
  }

  .modalBox {
    max-width: 70%;
    margin: 0 auto;
  }

  .fa-trophy {
    left: 15%;
  }
}

@media (min-width: 850px) {
  .headGame {
    max-width: 60%;
    margin: 0 auto;
  }

  .userNumber,
  .add {
    max-width: 15%;
  }

  .random,
  .playAgain {
    max-width: 40%;
  }

  .hint {
    left: 20%;
  }

  .modalBox {
    max-width: 70%;
  }

  .fa-trophy {
    left: 25%;
  }
}

@media (min-width: 1100px) {
  .headGame {
    max-width: 50%;
    margin: 0 auto;
  }

  .userNumber,
  .add {
    max-width: 10%;
  }

  .random,
  .playAgain {
    max-width: 30%;
  }

  .menuSquares {
    max-width: 90%;
    margin: 0 auto;
  }

  .hint {
    left: 25%;
  }

  .modalBox {
    max-width: 60%;
  }

  .fa-trophy {
    left: 30%;
  }
}

@media (min-width: 1300px) {
  .headGame {
    max-width: 40%;
    margin: 0 auto;
  }

  .random,
  .playAgain {
    max-width: 20%;
  }

  .hint {
    left: 30%;
  }

  .modalBox {
    max-width: 40%;
  }

  .fa-trophy {
    left: 35%;
  }
}